<div class="container">
    <div *ngFor="let item of items" class="item-card card text-dark shadow-4-strong" [class]="getItemRarityClass(item)">
        <img [src]="item.image" class="card-img-top" [alt]="item.name" />
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">
                {{item.description}}
            </p>
        </div>
        <div class="button-container">
            <a [routerLink]="['/details', item.id]" type="button" class="btn btn-dark">Ver detalhes</a>
        </div>
    </div>

    <div *ngIf="hasLoaded && items.length == 0">
        <h3>Nenhum item encontrado.</h3>
    </div>
</div>